body{
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
}


.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 10vw;
    border-radius: 50%;
    background-color: rgba(232, 222, 222, 0.4);
}
.contain {
    height: 74vh;
    margin-left: 2%;
    margin-right: 2%;
    width: 100vw;
    display: grid;
}
header {
    display: flex;
}
div nav{
    gap: 10px;
    display: flex;
    justify-content: right;
    align-items: center;

}
a{
    color: black;
    text-decoration: none;
    ;
}
a:hover {
    color: greenyellow;
}
section {
    display: flex;
}
.left {
    background: white;
    height: 60vh;
    width: 50vw;
    
}
.u {
    background-color: rgb(218, 232, 233);
    height: 41vh;
    padding: 10%;
    box-sizing: border-box;
}
.u h1{
    color: rgb(10, 117, 144);
}
button{
    border: none;
    border-radius: 10px;
}
button:active{
    background: greenyellow;
}
.d{
    height: 5vh;
    width: 50vw;
    display: flex;
}
#left {
    padding: 2vh;
    display: grid;
    align-items: center;
    justify-items: center;
    width: 16.6666666vw;
    height: 13vh;
    background-color: rgb(175, 219, 240);
}
.d h4{
    color: rgb(10, 117, 144);
}
#mid {
    padding: 2vh;
    color: white;
    display: grid;
    align-items: center;
    justify-items: center;
    width: 16.6666666vw;
    height: 13vh;
    background-color: rgb(50, 134, 168);
}
#right{
    padding: 2vh;
    display: grid;
    align-items: center;
    justify-items: center;
    width: 16.6666666vw;
    height: 13vh;
    background-color: rgb(175, 219, 240);
}
.d div p{
    font-size: 15px;
}
.right {
    background-color: rgb(218, 232, 233);
    height: 60vh;
    width: 50vw;
}
.right div {
    background-color: white;
    height: 60vh;
    width: 40vw;
    border-top-left-radius:10px ;
    border-top-right-radius: 10px;
    padding: 2%;

}
.logo{
    background-color: white;
    width: 50vw;
    margin-left:5vw ;
    justify-self: right;
    align-items: center;
    color: rgb(10, 117, 144);
}
.navt {
    background-color: white;
    width: 50vw;
    display: flex;
    margin-right: 4vw;
    justify-content: right;
    align-items: center;
}
#u{
    height: 15vh;
    width: 100%;
}
#d{
    height: 35vh;
    width: 100%;
    text-align: center;
}
.s1 {
    
    height: 67vh;
    width: 100%;
    
}
.s2{
    display: grid;
}
#u p {
    text-align: center;
}
#u h1{
    text-align: center;
}
.off {
    color: rgb(10, 117, 144);
}
#d {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.on{
    display: grid;
    justify-items: center;
    align-items: center;
    border-style: groove;
    height: 40vh;
    width: 20vw;
    border-radius: 10px;
    margin: 1%;
    overflow: hidden;
}
#d img {
    border-radius: 50%;
    padding: 2px;
    display: inline;
}
.tw{
    display: grid;
    justify-items: center;
    align-items: center;
    height: 40vh;
    width: 20vw;
    border-radius: 10px;
    margin: 1%;
    overflow: hidden;
}
.th{
    display: grid;
    justify-items: center;
    align-items: center;
    height: 40vh;
    border-style: groove;
    width: 20vw;
    border-radius: 10px;
    margin: 1%;
    overflow: hidden;
}
.fr{
    display: grid;
    justify-items: center;
    align-items: center;
    height: 40vh;
    border: solid;
    border-style: groove;
    width: 20vw;
    border-radius: 10px;
    margin: 1%;
    overflow: hidden; 
}
#s3{
    height: 30vh;
    width: 100%;
    background-image:url(./image/image1.jpg);
    background-position: 10%;
    display: grid;
    position: relative;

}
.con{
    color: white;
    padding: 20px;
    margin-left: 12%;
    height: 25vh;
    width: 35%;
    background-color: rgb(50, 134, 168);
    position: absolute ;
    box-sizing: border-box;
}
.mai{
    height: 5vh;
    width: 100%;
    background-color: white;   
}
#s4{
    height: 62vh;
    width: 100%;
    display: grid;
}
.s4u{
    height: 17vh;
    width: 100%;
}
.s4d{
    height: 45vh;
    width: 100%;
    display: flex;
    gap: 2%;
}
.na{
    height: 42vh;
    width: 38%;
    padding: 2%;
    box-sizing: border-box;
}
.hou{
    height: 42vh;
    width: 30%;
    border-radius: 10px;
    background-color: aquamarine;
}
.pr{
    height: 42vh;
    width: 20%;
    background-color: rgb(255, 127, 238);
    color: rgb(245, 241, 241, 0.4);
    font-size:  x-large;
    padding: 2%;
    display: flex;
    justify-content: end;
    box-sizing: border-box;
}
#s5{
    height: 30vh;
    width: 100%;
    background-image: url(./image/image2.jpg);
    background-position: 10%;
    display: grid;
    position: relative;
}
.con5{
    color: white;
    padding: 20px;
    margin-left: 12%;
    height: 25vh;
    width: 35%;
    background-color: rgb(50, 134, 168);
    position: absolute ;
    box-sizing: border-box;
}
.mai5{
    height: 5vh;
    width: 100%;
    background-color: white;   
}
#s6{
    margin-left: 15%;
    height: 30vh;
    width: 70%;
    background-color: rgb(50, 134, 168);
    display: grid;
    align-self: center;
    position: relative;
}
.con6{
    color: white;
    background-color: white;
    padding: 20px;
    margin-left: 12%;
    height: 25vh;
    width: 35%;
    position: absolute ;
    box-sizing: border-box;
}
.mai6{
    height: 5vh;
    width: 100%;
    background-color: white;   
}
footer{
    height: 40vh;
    width: 100%;
    background-color: rgb(50, 134, 168);
}
.footu{
    height: 14vh;
    width: 100%;
}